<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Indicates that the main.js file is a node.js site to be handled by the iisnode module -->
      <add name="iisnode" path="main.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^main.js\/debug[\/]?" />
        </rule>

        <!-- First we consider whether the incoming URL matches a physical file in the /frontend folder -->
        <rule name="StaticContent" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="main.js" />
        </rule>

        <!-- All other queries are forwarded to the node.js site entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="main.js" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false" />
    
    <!-- iisnode configuration -->
    <iisnode 
      node_env="production"
      nodeProcessCommandLine="C:\Users\mamun\AppData\Roaming\nvm\v24.13.0\node.exe"
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;"
    />
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
